body {
  font-family: 'Poltawski Nowy',serif;
  margin: 0;
  padding: 0;
	background-color: #FDF2E9;
}
/* Catalogo */
.catalogo {
    display: flex;
    justify-content: center;
  }
  .ctg-filtro-productos {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .ctg-filtro {
    margin-right: 20px;
  }
  
  .ctg-productos {
    flex-grow: 1;
  }
  .ctg-contenedor {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ctg-columna-productos {
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  /* Herramienta de filtrado */
  .ctg-filtro-btn {
    background-color: #DB6E63; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  }
  
  .ctg-filtro-btn:hover {
    background-color: #f4240d;
  }
  /* Productos */
  .ctg-producto {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 400px;
    height: 200px;
  }
  
  .ctg-producto-imagen {
    height: 200px;
    overflow: hidden;
  }
  
  .ctg-producto-imagen img {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .ctg-producto-info {
    padding: 20px;
  }
  
  .ctg-producto-nombre {
    margin: 0;
  }
  
  .ctg-producto-descripcion {
    margin: 10px 0;
  }
  
  .ctg-producto-precio {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .ctg-producto-añadir {
    background-color: #DB6E63;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
  }
    
  .ctg-producto-add-to-cart:hover {
    background-color: #be5f54;
  }
  
  a {
    text-decoration: none; /* Quita el subrayado */
    color: black; /* Cambia el color del texto a negro */
  } 
  /* Paginacion del producto */
  .ctg-pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  .ctg-pagination-container .page-link {
    color: black;
  }
  
  .ctg-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ctg-pagination a {
    color: black;
    text-decoration: none;
  }
  .ctg-pagination li {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #e6e6e6;
    color: #666;
    font-weight: bold;
    cursor: pointer;
  }
  
  .ctg-pagination li.active {
    background-color: #DB6E63;
    color: #fff;
  }
  
  .ctg-pagination li:hover {
    background-color: #ccc;
    color: #000;  
  }
  
  .ctg-pagination li.disabled {
    opacity: 0.5;
    cursor: default;
  }
  
  .ctg-pagination li:first-child,
  .ctg-pagination li:last-child {
    margin: 0;
  }
  
  .ctg-pagination li a {
    display: block;
  }

  .detalle-producto {
    padding:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  
  
  .detalle-producto .detalle-producto-imagen {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  .detalle-producto .detalle-producto-imagen img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 2px solid brown;
    
  }
  
  .detalle-producto .detalle-producto-info {
    background-color: antiquewhite;
    flex: 1;    
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
  }
  
  .detalle-producto h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .detalle-producto p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .detalle-producto-cantidad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .detalle-producto-cantidad button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
  }
  
  .detalle-producto-cantidad input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .detalle-producto-btn-carrito {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .detalle-producto-btn-add {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #DB6E63;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .detalle-producto-btn-add:hover {
    background-color: #be5f54;
  }
  