

@media screen and (max-width: 950px) {
  header .logo,
  header nav {
    width: 100%;
    text-align: center;
    line-height: 100px;
  }
  .header2 {
    height: auto;
  }
  .header2 .logo,
  header2 nav {
    line-height: 50px;
  }
  
}
  /*para el nav en moviles para el footer*/
  @media screen and (max-width: 800px){
    .pie-de-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    }

    
  }
